body{
    font-family: 'Helvetica', sans-serif;
    font-size: 17px;
    background-color: #009688;
    margin: 0;
    padding: 0;   
    overflow: hidden;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #e3e3e3;
    margin: 20px auto;
    padding: 0px;
    max-width: 350px;
    text-align: center;
    border-radius: 4px;   
    box-sizing: border-box; 
}

.bg{
    background-image: linear-gradient(50deg,rgba(99, 94, 0, 0.6) 0%, rgba(97, 0, 0, 0.8) 100%), url('img/profile.jpg');
    height: 100%;
    min-height: 200px;
    width: 100%;   
    max-width: 350px; 
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 6px solid #e6e6e6;
    border-radius: 4px 4px 0 0;
}

#avatar{
    width: 150px;    
    height: 150px;
    border-radius: 200px;
    border: 7px solid #e6e6e6;
    z-index: 2;    
    position: absolute;
    top: 50%;
    left: 25.5%;
    background-color: #e6e6e6;
}

#name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
    color: #222;
    animation-delay: 8ms;
}

.description{
    width: 70%;
    text-align: center;
    margin: 20px auto;
    color: #666;    
    animation-delay: .5ms
}

.socials{
    margin: 15px auto;
    padding: 5px 10px;
}

.socials li{
    display: inline-block;
    padding: 5px 10px;
}

.socials li img{    
    background-repeat: no-repeat;
    width: 80%;
}

ul{
    list-style: none;
}



a{
    text-decoration: none;
    font-size: 22px;
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: #222;
    color: #fff;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
}

btn:hover, a:hover{
    opacity: 0.7;
}